<po-page-default p-title="CADASTRO DE USUÁRIO" [p-breadcrumb]="breadcrumb">
  <po-dynamic-form
    [p-fields]="fields"
    [p-value]="person"
    (p-submit)="onSubmit($event)"
  ></po-dynamic-form>

  <br />

  <div class="po-row">
    <po-button
      class="po-md-2"
      p-label="Salvar"
      [p-disabled]="isFormInvalid"
      (p-click)="onSubmit(dynamicForm.form.value)"
    >
    </po-button>
    <po-button
      class="po-md-1"
      p-label="Cancelar"
      (p-click)="onCancel()"
    >
    </po-button>
  </div>
</po-page-default>
