<po-page-default p-title="CRIAR CONTA">
  <po-dynamic-form [p-fields]="fields" [p-value]="person"></po-dynamic-form>

  <br />

  <div class="po-row">
    <po-button
      *ngIf="isFormInvalid"
      class="disabled-button"
      p-label="Salvar"
      [p-disabled]="true"
      (p-click)="onSubmit(dynamicForm.form.value)"
    >
    </po-button>

    <po-button
      *ngIf="!isFormInvalid"
      class="animated-po-button primary"
      p-label="Salvar"
      [p-disabled]="false"
      (p-click)="onSubmit(dynamicForm.form.value)"
    >
    </po-button>

    <po-button
      class="animated-po-button accent"
      p-label="Cancelar"
      (p-click)="onCancel()"
    >
    </po-button>
  </div>
</po-page-default>
