:host ::ng-deep .po-page-default {
  background-size: cover;
  background-position: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.home-content {
  padding: 3rem 1rem;
  text-align: center;
  animation: fadeInUp 0.8s ease-in-out;
}

.home-title {
  font-size: 2.5rem;
  color: var(--po-color-primary);
  margin-bottom: 0.5rem;
}

.home-subtitle {
  font-size: 1.1rem;
  color: var(--po-color-secondary);
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;

  .animated-po-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    animation: fadeInUp 0.8s ease-in-out;
    animation-fill-mode: both;

    &:nth-child(1) {
      animation-delay: 0.1s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }

    &.primary {
      background-color: var(--po-color-primary);
      color: #fff;

      &:hover,
      &:active {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(25, 210, 71, 0.233);
      }
    }

    &.secondary {
      background-color: var(--po-color-secondary);
      color: #fff;

      &:hover,
      &:active {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(0, 102, 150, 0.466);
      }
    }

    &.accent {
      background-color: var(--po-color-contrast);
      color: #fff;

      &:hover,
      &:active {
        transform: translateY(-4px);
        box-shadow: 0 8px 16px rgba(198, 40, 40, 0.4);
      }
    }
  }
}

.image-container {
  text-align: center;
  margin-top: 20px;
}

.image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image:hover {
  box-shadow: 0 0 20px rgba(47, 4, 102, 0.445);
}
